.form-control {
  margin: 0.5rem 0;
  display: inline-block;
}


.form-control input {
  width: 55rem;
  border: 1px solid #ccc;
  font-size: x-large;
  line-height: 3.5rem;
  padding: 0 0.25rem;
  border-radius: 9px;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #a08998;
  
}

.form-control.invalid input {
  border-color: red;
  background: #ffd7d7;
}

.form-control.invalid label {
  color: red;
}

